@model Book_Category

@{
    ViewData["Title"] = "Books_Category";
}

<h1>Books Category</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Top Books 
            </th>
            <th>
                Last Published
            </th>
            <th>
                Weeks On List
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.list_name)
            </td>
            <td>
                <button>  @Html.ActionLink("View Books", "Books", "Home", new { category = item.list_name_encoded }, null)</button>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.newest_published_date)
            </td>
            <td>
                <!-- View Chart code will come here -->
                <button>@Html.ActionLink("View Chart","ViewChart","Home",new { category=item.list_name_encoded},null)</button>

            </td>
        </tr>
}
    </tbody>
</table>
