@model Rootobject

@{
    ViewData["Title"] = "Buy_Links";
}

<h1>Buy_Links</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Amazon
            </th>
            <th>
                Apple Books
            </th>
            <th>
                Barnes And Noble
            </th>
            <th>
                Local Booksellers
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.results.books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.buy_links[0])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buy_links[1])
            </td>
            
        </tr>
}
    </tbody>
</table>
