@{
    ViewData["Title"] = "Privacy Policy";
}
<header class="text-center py-5 mb-4" style="background-color: #d3d3d3;">
    <div class="container">
        <a><h1 class="font-weight-light text-white">Meet the Team</h1></a>
    </div>
</header>

<div class="container">

    <!-- Page Heading -->
    <!--<h1 class="my-4">
        Page Heading
        <small>Secondary Text</small>
    </h1>-->
    <!-- Project One -->
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img class="rounded mb-3 mb-md-0" src="~/Img/1.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Khaninder Kommagoni</h3>
            <p>
                Khaninder Kommagoni played a significant role in creating the html pages and built external CSS for the html web pages.CSS
                helped in developing responsive webpages which solves the purpose of building a multi device compatible webpages.He made sure that
                attendtion to details in the website are met.
            </p>
            <a class="btn btn-primary" href="mailto:khaninder.kommagoni@gmail.com">Contact</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="~/Img/2.png" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Siddharth Rawat</h3>
            <p>
                Siddharth was responsible for extracting data from the NYT Articles API and desiging the database which will be used in
                further enhancement of the website.He created a logical database design which was very helpful in designing the website.
                He aslo made significant contribution in desiging the website.
            </p>
            <a class="btn btn-primary" href="mailto:siddharth.rawat07@gmail.com">Contact</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="~/Img/3.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Akhil J Chandy</h3>
            <p>
                Akhil Chandy contributed in bulding the html pages with inline CSS which displays a different approcach towards bulding a
                website using features of CSS.He made sure that content on the webiste is relevant to the end user.
            </p>
            <a class="btn btn-primary" href="mailto:ajchandy@mail.usf.edu">Contact</a>
        </div>
    </div>
    <h1 class="text-center font-weight-light text-black-50" style="padding-top:10px">Database Schema</h1>
    <div class="container">
        <div class="row">

            <img class="img-responsive" src="~/img/DBschema.jpg" alt="" style="width:100%;padding:5px">

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
